.headp {
    color: rgb(3, 3, 3)
}

header h1 { 
    color: rgb(8, 102, 94)
}

#maintitle {
color: rgb(253, 145, 13);
}
main p {
    color:rgb(27, 228, 9)
}

footer p {
    color: rgb(245, 160, 4)
}

.bigger {
    font-size: 15pt;
    font-weight: bold;
}

#thirdp {
    color: rgb(125, 1, 241);
}

.blue {
    color:blue
}